<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación de Heatmap Financiero</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <div class="container">
        <h1>Calculadora de Estacionalidad</h1>
        
        <!-- Formulario -->
        <!-- En index.html -->
        <form method="post">
            <label for="ticker">Ticker:</label>
            <input type="text" name="ticker" required>
            
            <label for="start_date">Fecha de Inicio:</label>
            <input type="date" name="start_date" required>
            
            <label for="end_date">Fecha de Fin:</label>
            <input type="date" name="end_date" required>

            <button type="submit">Generar Heatmap</button>
        </form>


        <!-- Mostrar errores -->
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}

        <!-- Mostrar el heatmap -->
        {% if heatmap_url %}
            <h2>Heatmap del Rendimiento Mensual</h2>
            <img src="{{ heatmap_url }}" alt="Heatmap del Rendimiento Mensual">
        {% endif %}

        <!-- Mostrar el rendimiento promedio mensual -->
        {% if monthly_avg_returns %}
            <h2>Rendimiento Promedio del Mes</h2>
            <table>
                <tr>
                    {% for month, return_val in monthly_avg_returns.items() %}
                        <th>{{ month }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for return_val in monthly_avg_returns.values() %}
                        <td>{{ return_val|round(2) }}%</td>
                    {% endfor %}
                </tr>
            </table>
        {% endif %}
    </div>
</body>
</html>
